<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <title>subvr</title>

    <style>
      body {
        background-color: #000;
        color: #fff;
        margin: 0px;
        padding: 0;
        overflow: hidden;
      }
    </style>

{{ json_config if json_config else "" }}

  </head>

  <body onload="onLoad()">

    <script src="{{ url_for('static', filename='bin/three-r73.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/TextGeometry.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/FontUtils.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/ColladaLoader.js') }}"></script>

    <script src="{{ url_for('static', filename='bin/cannon.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/leap-0.6.4.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/Primrose.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/VREffect.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/VRControls.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/webvr-polyfill.js') }}"></script>
    <script src="{{ url_for('static', filename='bin/webvr-manager.js') }}"></script>

    <script src="{{ url_for('static', filename='src/pyserver.js') }}"></script>
    <script src="{{ url_for('static', filename='src/CrapLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='src/leapmotion.js') }}"></script>
    <script src="{{ url_for('static', filename='src/WebVRApplication.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/SPE.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/fonts/Anonymous Pro_Regular.js') }}"></script>

    <script src="{{ url_for('static', filename='examples/subvr/actions.js') }}"></script>
    <script src="{{ url_for('static', filename='examples/subvr/graphics.js') }}"></script>
    <script src="{{ url_for('static', filename='examples/subvr/app.js') }}"></script>

{% if mystery %}
{{ mystery }}
{% else %}
    <script type="text/javascript">
      WebVRApplication.prototype.mystery = function() {
        console.log("you pressed the mystery button");
        console.log(avatar);
        console.log(this);
      };
    </script>
{% endif %}

{% if test %}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='jasmine/lib/jasmine-2.3.4/jasmine_favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jasmine/lib/jasmine-2.3.4/jasmine.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jasmine/lib/jasmine-2.3.4/jasmine.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jasmine/lib/jasmine-2.3.4/jasmine-html.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jasmine/lib/jasmine-2.3.4/boot.js') }}"></script>
{% endif %}

  </body>
</html>